.container_geral {
  margin: auto;
  width: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

}

.container_geral1 {
  width: 430px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black
}


.container_geral2 {
  width: 430px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container_logineusuario1 > h2 {
position: absolute;
margin-top: -150px;
margin-left: 50px;

}

.container_logineusuario2 > h2 {
    position: absolute;
    margin-top: -120px;
    margin-left: 40px;
    
    }


.btn_entrar1 {
  padding: 10px;
}

.btn_entrar2 {
  padding: 2px;
}
