@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://img.freepik.com/vetores-gratis/padrao-sobre-shopping_1061-495.jpg?w=740&t=st=1686700787~exp=1686701387~hmac=74147f87294d21f103eb373f7d2dc25b68c62ae2051e0ef0479736896bdbc26c');

.container {
   display: flex;
}

.ArrowCircleLeftIcon {
   width: 90px;
   height: 90px;
}

.produto {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   text-align: center;
   align-items: center;
   padding: 10px;
   gap: 2rem;
}

.info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 25rem;
   height: 40rem;
   padding: 10px;
   box-shadow: 1px 1px 10px 5px #ddd;
   border-radius: 6px;
   font-family: 'Roboto', sans-serif;
   background-image: linear-gradient(#ffffffd9, #ffffff8f, #a8a8a8);
   border-color: #5d5d5d;
}

.info img {
   width: 14rem;
   height: 15rem;
}

.info h2 {
   display: flex;
   text-align: center;
   align-items: center;
   margin: 1.5rem 0;
   font-size: 24px;
   color: #2d7297;
   height: 2rem;
}

.info p {
   display: flex;
   align-items: center;
   text-align: center;
   margin-bottom: 1rem;
   color: #6d94a3fd;
   height: 4rem;
}

.info h3 {
   display: flex;
   align-items: center;
   text-align: center;
   margin-bottom: 1rem;
   color: #091238;
   height: 2rem;
   font-size: 26px;
   text-transform: capitalize;
}

.info h4 {
   font-size: 22px;
   color: #2d7297;
   height: 2rem;
}
.avaliacoes {
   display: flex;
   gap: 1rem;
   margin: 1rem 0;
}

.avaliacoes span {
   display: flex;
   align-self: center;
   text-align: center;
}

.avaliacoes h5 {
   font-size: 20px;
   margin-left: 5px;
}
.relacionados {
   display: flex;
   align-items: flex-start;
   margin-top: 50px;
   flex-wrap: wrap;
}

.cards_relacionados {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   width: 20rem;
   height: 15rem;
   box-shadow: 1px 1px 10px 5px #ddd;
   margin: 0 auto;
   margin-bottom: 30px;
   border-radius: 20px;
   border-top: 0.5px solid;
   border-color: #5d5d5d;
   background-image: linear-gradient(#ffffffd9, #ffffff8f, #a8a8a8);
}

.cards_relacionados h2 {
   margin-top: 15px;
}

.btn_voltar {
   position: relative;
   display: flex;
   margin: 1rem;
}

.barra {
   width: 100%;
   color: white;
   background-color: rgba(0, 0, 0, 0.239);
   text-align: center;
   font-size: x-large;
   padding: 20px;
   margin-top: 20px;
}
