.carrinho {
   display: flex;
   flex-direction: column;
   gap: 32px;
   padding: 128px;
}

.card {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid rgba(0, 0, 0, 0.219);
   padding-bottom: 20px;
}

.card img {
   width: 80px;
   height: 80px;
}

.card p {
   width: 200px;
}
.quantidade {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.quantidade p {
   width: 50px;
   text-align: center;
}
.quantidade button {
   width: 50px;
}

.total {
   text-align: right;
}

.tabela {
   display: flex;
   justify-content: space-between;
   margin-right: 150px;
}

.btn_compra {
   display: flex;
   margin-left: auto;
}
