@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   font-family: 'Roboto', sans-serif;
}

.tabela {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tabela th {
   margin-right: 215px;
   color: #2d7297;
   margin-left: 1px;
}

.carrinho {
   display: flex;
   flex-direction: column;
   gap: 32px;
   padding: 50px;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
}

 .card {
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   border-width: 2px;
   border-style: solid;
   border-radius: 10px;
   border-color: purple #3b32a1 purple #3b32a1;
   padding: 20px;
}

.card img {
   width: 80px;
   height: 80px;
}

.card p {
   width: 200px;
   display: center;
   font-family: 20px;
   color: #2d7297;
}

.quantidade {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.quantidade p {
   width: 50px;
   text-align: center;
}
.quantidade button {
   width: 50px;
}

.total {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   border-color: purple #3b32a1 blueviolet;
   font-size: 1rem;
   font-stretch: normal;
   margin-right: 45px;
}

.total h2{
   color: #2d7297;
}
.retorno {
   margin: 1% 1%;
}

.btn_compra:hover Button{
   background-color: #2d729741;
}